<!-- Default home page -->
<link type="text/css" href='http://sailsjs.org/styles/fonts.css' rel='stylesheet'/>
<link href='http://fonts.googleapis.com/css?family=Roboto:400,300' rel='stylesheet' type='text/css'>
<style>
    body {
        margin: 0;
        padding: 0;
        background-color: #EEE;
    }

    #topBar {
        height: 200px;
        width: 100%;
        background-color: #55A9AC;
        -webkit-box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.37);
        -moz-box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.37);
        box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.37);
    }

        #details {
            color: #EEEEEE;
            text-align: center;
            font-size: 32px;
            padding: 15px;
            background-color: rgba(0,0,0,0.3);
            font-family: 'Roboto';
            font-weight: 300;
        }

    #cont {
        margin: -100px auto 0 auto;
        width: 1100px;
    }

    #leftDiv {
        width: 400px;
        float: left;
    }

    #albumArtCont {
        height: 400px;
        width: 400px;
        -webkit-box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.37);
        -moz-box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.37);
        box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.37);
        background-image: url('images/logo.png');
        background-size: 400px 400px;
        margin: 0 0 20px 0;
    }

    #albumArt {
        height: 400px;
        width: 400px;
    }

    .ctrlIcon {
        font-size: 60px;
        color: #55A9AC;
        margin-right: 10px;
        transition: 0.3s all;
        cursor: pointer;
    }

    .ctrlIcon:hover {
        color: #6CC9CD;
    }

    #rightDiv {
        height: 450px;
        width: 650px;
        float: right;
        padding-bottom: 20px;
    }

    #nowPlaying {
        width: 650px;
        height: 70px;
        white-space: nowrap;
        overflow-x: hidden;
        font-family: 'Roboto';
        font-weight: 300;
        margin: 15px 0 40px 0;
    }

        #songNameH {
            font-size: 48px;
            color: white;
        }

        #artistNameH {
            font-size: 32px;
            color: #DDD;
            margin-left: 10px
        }

    #progressBar { 
       background-color: #55A9AC; 
       width: 400px;
       float: left;
       height: 5px;
       margin-top: 10px;
       border-radius: 2px;
    }
    #progress {
       background-color:#ff0000;
       height:20px;
       display:inline-block;
    }

    .scrolling {
        animation: auto medium infinite scroll normal;
    }

    .queueErr {
        font-size: 48px;
        color: #2c2c2c;
        font-family: 'Roboto';
        font-weight: 300;
        margin-top: 50px;
    }

    .queueBox {
        width: 650px;
        height: 100px;
        padding: 0;
        margin-bottom: 20px;
        background-color: white;
        font-family: 'Roboto';
        font-weight: 300;
        -webkit-box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.37);
        -moz-box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.37);
        box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.37);
    }
        .queueArt {
            width: 100px;
            height: 100px;
            margin: 0 20px 0 0;
            float: left;
        }
        .queueInd {
            width: 100px;
            height: 40px;
            background-color: rgba(0,0,0,0.5);
            margin: 60px 0 0 -120px;
            text-align: center;
            color: white;
            font-size: 31px;
            float: left;
        }
        .queueTextCont {
            width: 430px;
            float: left;
            white-space: nowrap;
            overflow-x: hidden;
            margin-top: 18px
        }
        .queueScore {
            float: right;
            text-align: right;
            white-space: nowrap;
            overflow-x: visible;
            margin: 20px 20px 0 0;
            color: #555;
            font-size: 20px;
        }
        .songName {
            font-size: 24px;
            color: #2c2c2c;
        }
        .artistName {
            font-size: 20px;
            color: #555555;
        }
</style>
<script type="text/javascript">
    var totalCount = 1;
    var isPlaying = false;
    var isQueued = false;

    var queue = [
        {
            "id":          "1",
            "songName":    "Give Me A Try",
            "artistName":  "The Wombats",
            "streamUrl":   "https://p.scdn.co/mp3-preview/bb6054ad62641eef7aab2004f8d7b7da9b32cf26",
            "coverUrl":    "https://i.scdn.co/image/866f416a61a2e663954cc9580a0e018cc1432920",
            "score":       0,
            "shortcode":   "4822"
        },
        {
            "id":          "2",
            "songName":    "The Bay",
            "artistName":  "Metronomy",
            "streamUrl":   "https://p.scdn.co/mp3-preview/c4ab35f9a2cbc7683bc90f56cfb6d255a12c783b",
            "coverUrl":    "https://i.scdn.co/image/a6b1db4555057091e63285834e38bf2308fe6a1b",
            "score":       0,
            "shortcode":   "5275"
        },
        {
            "id":          "3",
            "songName":    "Men's Needs",
            "artistName":  "The Cribs",
            "streamUrl":   "https://p.scdn.co/mp3-preview/54763012753bb57be414e72ca5c549181e7cea7f",
            "coverUrl":    "https://i.scdn.co/image/211dc80f980f1054e59b61c869b53f557850f5c8",
            "score":       1,
            "shortcode":   "8452"
        }
    ];

    var shortcodes = [
        "4822",
        "5275",
        "8452"
    ];

    var np = {};

    function genCode(){
        var ret = Math.floor((Math.random() * 9000) + 1000);
        while (shortcodes.indexOf(ret.toString()) > -1) {
            ret = Math.floor((Math.random() * 9000) + 1000);
        }
        return ret;
    }

    function popQueue(playNext){
        if(playNext){
            $('#nowPlaying').html('');
            $('#queued').html('');
        } else {
            $('#queued').html('');
        }
        
        var i = 0;
        var to = queue.length;

        shortcodes = [];

        function addThis(){
            setTimeout(function(){
                var newSong = queue[i];

                $('#queued').append('\
                    <div id="'+newSong.id+'" style="opacity:0; margin-left: 30px" class="queueBox">\
                        <img class="queueArt" src="'+newSong.coverUrl+'">\
                        <div class="queueInd">'+newSong.shortcode+'</div>\
                        <div class="queueTextCont">\
                            <span class="songName">'+newSong.songName+'</span><br>\
                            <span class="artistName">'+newSong.artistName+'</span>\
                        </div>\
                        <span id="'+newSong.id+'Score" class="queueScore">Score: '+newSong.score+'</span><br>\
                    </div>\
                ');

                $('#'+newSong.id).animate({
                    opacity: 1,
                    marginLeft: '0'
                },300);

                i++;
                totalCount++;

                shortcodes.push(newSong.shortcode.toString());    

                isQueued = true;

                if(i != to) addThis()

            },100);
        }

        addThis();
        if(playNext) next();
    }

    function addToQueue(d){
        for(var i in queue){
            if(queue[i].id == d.id){
                queue[i].score++;
                sortQueue();
                return true;
            }
        }


        function getNothingMsg() {
            try {
                var a = $('#queued')[0].children[0].innerText.indexOf('Nothing Queued.');
                return a == 0;
            }
            catch (e) {
                return false;
            }
        }

        queue.push(d);

        var newSong = queue[queue.length-1];
        console.log(JSON.stringify(newSong));

        newSong.score = 0;

        var thisCode = genCode();
        newSong.shortcode = thisCode;
        shortcodes.push(thisCode.toString());

        $.post('/queue/add',{'song': JSON.stringify(newSong)});

        if(!isPlaying) $('#queued').html('');
        if (queue.length > 0 && getNothingMsg()) {
            $('#queued').html('');
        }

        $('#queued').append('\
            <div id="'+newSong.id+'" style="opacity:0; margin-left: 30px" class="queueBox">\
                <img class="queueArt" src="'+newSong.coverUrl+'">\
                <div class="queueInd">'+newSong.shortcode+'</div>\
                <div class="queueTextCont">\
                    <span class="songName">'+newSong.songName+'</span><br>\
                    <span class="artistName">'+newSong.artistName+'</span>\
                </div>\
                <span id="'+newSong.id+'Score" class="queueScore">Score: '+newSong.score+'</span><br>\
            </div>\
        ');

        $('#'+newSong.id).animate({
            opacity: 1,
            marginLeft: '0'
        },300);

        if(queue.length == 1 && !isPlaying) next();
    }

    function removeFromQueue(id){
        for(var i in queue){
            if(queue[i].id == id){
                queue.splice(i,1);
                shortcodes.splice(i,1);
                sortQueue();
                break;
            }
        }
    }

    function playPause(){
        var button = document.getElementById('play');
        var audio = document.getElementById('stream');
        var isOn = false;

        var isPlaying = !audio.paused;

        if(isPlaying){
            audio.pause();
            $('#play').html('<i class="fa fa-play"></i>');
        } else {
            audio.play();
            $('#play').html('<i class="fa fa-pause"></i>');
        }                       
    }

    function next(){

        var audio = document.getElementById('stream');

        if(queue.length == 0){
            isPlaying = false;

            np = {};

            $('#streamSrc').attr('src','');
            audio.load();

            $('#nowPlaying').animate({
                opacity: 0,
                marginLeft: '30px'
            },300);

            setTimeout(function(){
                $('#nowPlaying').html('\
                    <span id="songNameH">Nothing Playing.</span>\
                ');
                $('#play').html('<i class="fa fa-play"></i>');
                audio.pause();
                setTimeout(function(){
                    $('#albumArt').animate({
                        opacity: 0
                    },300);
                    $('#nowPlaying').animate({
                        opacity: 1,
                        marginLeft: '0'
                    },300);
                },300);
            },300);

            return false;
        }

        isPlaying = true;

        var newSong = queue[0];
        console.log(JSON.stringify(newSong));

        np = newSong;

        $.post('/queue/next',{});

        $('#'+newSong.id).animate({
            opacity: 0,
            marginLeft: '-30px'
        },300);

        setTimeout(function(){
            $('#nowPlaying').animate({
                opacity: 0,
                marginLeft: '30px'
            },300);
            $('#albumArt').animate({
                opacity: 0
            },300);
            setTimeout(function(){
                audio.pause();
                $('#streamSrc').attr('src',newSong.streamUrl);
                $('#nowPlaying').html('\
                    <span id="songNameH">'+newSong.songName+'</span>\
                    <span id="artistNameH">'+newSong.artistName+'</span>\
                ');

                if(($('#songNameH').width() + $('#artistNameH').width() + 10) > $('#nowPlaying').width()){
                    $('#nowPlaying').html('<marquee scrollamount="10">\
                        <span id="songNameH">'+newSong.songName+'</span>\
                        <span id="artistNameH">'+newSong.artistName+'</span></marquee>\
                    ');
                } else {
                    $('#nowPlaying').addClass('scrolling');
                }
                
                $("#albumArt").attr("src",newSong.coverUrl);
                audio.load();
                setTimeout(function(){
                    $('#nowPlaying').animate({
                        opacity: 1,
                        marginLeft: '0'
                    },300);
                    $('#albumArt').animate({
                        opacity: 1
                    },300);

                    audio.play();
                    $('#play').html('<i class="fa fa-pause"></i>');

                    $('#'+newSong.id).animate({
                        height: 0
                    },300);

                    setTimeout(function(){
                        $('#'+newSong.id).remove();

                        queue.shift();
                        shortcodes.shift();

                        if(queue.length == 0){
                            $('#queued').html('\
                                <span class="queueErr">Nothing Queued.</span>\
                            ');
                            isQueued = false;
                        }
                    },300);
                },300);
            },300);
        },100);
    }

    function sortQueue(){
        var j = 0;
        var to = queue.length;

        function removeThis(){
            setTimeout(function(){
                var newSong = queue[j];

                $('#'+newSong.id).animate({
                    opacity: 0,
                    marginLeft: '-30px'
                },300);
             
                j++;

                if(j != to) removeThis();

            },100);
        }

        removeThis();

        queue.sort(function(a,b){return b.score-a.score});

        var npQ = JSON.parse(JSON.stringify(queue));
        npQ.unshift(np);

        $.post('/queue',{'queue': JSON.stringify(npQ)}, function(){console.log('queue posted')});
        
        popQueue(false);
    }

    function updateProgress() {
        var progress = document.getElementById("progressBar");
        var audio = document.getElementById('stream');
        var value = 0;
        if (audio.currentTime > 0) {
            value = Math.floor((100 / audio.duration) * audio.currentTime);
        }
        $('#progressBar').animate({
            width: value + "%"
        },200);
        //progress.style.width = value + "%";

    }

    $(window).ready(function(){
        setTimeout(popQueue(true), 500);

        var isPlaying = false;

        $("#stream").bind('ended', function(){
            next();
        });

        var audio = document.getElementById('stream');

        audio.addEventListener("timeupdate", updateProgress, false);

        console.log('connecting...');
        io.socket.get("/test");
        io.socket.on('connect',function(message){
            console.log('connected!');
            io.socket.on('message',function(message){
                console.log(JSON.stringify(message));
                if(message.type == 'add'){
                    var found = false;
                    for(var i in queue){
                        if(queue[i].id == message.data.id){
                            queue[i].score++;
                            found = true;
                            break;
                        }
                    }
                    if(!found){
                        addToQueue(message.data);
                    } else {
                        sortQueue();
                    }
                } 
                if(message.type == 'up'){
                    var ind = shortcodes.indexOf(message.code);
                    if(ind > -1){
                        queue[ind].score++;
                        console.log('up!!');
                        console.log(queue[ind]);
                        sortQueue();
                    }
                } 
                if(message.type == 'down'){
                    var ind = shortcodes.indexOf(message.code);
                    if(ind > -1){
                        queue[ind].score--;
                        console.log('down!!');
                        console.log(queue[ind]);
                        if(queue[ind].score < -3){
                            removeFromQueue(queue[ind].id);
                        } else {
                            sortQueue();
                        }
                    }
                }
            });
        });

        $.get('/input/reset', function(){});

        $.post('/queue',{'queue': JSON.stringify(queue)}, function(){

        });

        var switcher = true;

        setInterval(function(){
            $('#details').animate({
                opacity: '0',
            },300);
            setTimeout(function(){
                if(switcher){
                    $('#details').html('<b>01506 243333</b> | Text "upvote (code)" or "downvote (code)".');
                } else {
                    $('#details').html('<b>01506 243333</b> | Text requests.');
                }
                
                switcher = !switcher;

                $('#details').animate({
                    opacity: '1',
                },300);
            },300)
        },6000);

    });
</script>

<div id="topBar">
    <div id="details">
        <b>01506 243333</b> | Text requests.
    </div>
</div>
<div id="cont">

    <div id="leftDiv">
        <div id="albumArtCont">
            <img id="albumArt">
        </div>
        <span class="ctrlIcon" onclick="playPause()" id="play"><i class="fa fa-play"></i></span>
        <span class="ctrlIcon" style="float: right; margin-right: 0"onclick="next()" id="fwd"><i class="fa fa-forward"></i></span>
        <div style="class: both"></div>
        <div id="progressBar"><span class="progressBar"></span></div>
    </div>
        
    <div id="rightDiv">
        <div id="nowPlaying" class="scrolling">
            
        </div>
        <div id="queued">
            <span class="queueErr">Nothing Queued.</span>
        </div>
    </div>

</div>

<audio id="stream">
    <source id="streamSrc" src="" type="audio/mpeg" />
</audio>
