<!-- Default home page -->
<link type="text/css" href='http://sailsjs.org/styles/fonts.css' rel='stylesheet'/>
<style>
    body {
        margin: 0;
        padding: 0;
        background-color: #EEE;
    }

    #topBar {
        height: 150px;
        width: 100%;
        background-color: #55A9AC;
        -webkit-box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.37);
        -moz-box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.37);
        box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.37);
    }

    #cont {
        margin: -100px auto 0 auto;
        width: 1100px;
    }

    #albumArtCont {
        height: 400px;
        width: 400px;
        -webkit-box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.37);
        -moz-box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.37);
        box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.37);
        float: left;
    }

    #albumArt {
        height: 400px;
        width: 400px;
    }

    #rightDiv {
        height: 450px;
        width: 650px;
        float: right;
        padding-bottom: 20px;
    }

    #nowPlaying {
        width: 650px;
        height: 60px;
        white-space: nowrap;
        overflow-x: hidden;
        font-family: 'Roboto';
        font-weight: 300;
        margin: 15px 0 50px 0;
    }

        #songNameH {
            font-size: 48px;
            color: white;
        }

        #artistNameH {
            font-size: 32px;
            color: #DDD;
            margin-left: 10px
        }

    .queueErr {
        font-size: 48px;
        color: #2c2c2c;
        font-family: 'Roboto';
        font-weight: 300;
        margin-top: 50px;
    }

    .queueBox {
        width: 650px;
        height: 100px;
        padding: 0;
        margin-bottom: 20px;
        background-color: white;
        font-family: 'Roboto';
        font-weight: 300;
        -webkit-box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.37);
        -moz-box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.37);
        box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.37);
    }
        .queueArt {
            width: 100px;
            height: 100px;
            margin: 0 20px 0 0;
            float: left;
        }
        .queueTextCont {
            width: 530px;
            float: left;
            white-space: nowrap;
            overflow-x: hidden;
            margin-top: 18px
        }
        .songName {
            font-size: 24px;
            color: #2c2c2c;
        }
        .artistName {
            font-size: 20px;
            color: #555555;
        }
</style>
<script type="text/javascript">
    var queue = [
        {
            'id':          '1',
            'songName':    'Song Name',
            'artistName':  'Artist Name',
            'streamUrl':   'http://bla.com',
            'coverUrl':    'http://vignette1.wikia.nocookie.net/lyricwiki/images/6/67/Metronomy_-_The_English_Riviera.jpg/revision/latest?cb=20110719094709'
        },
        {
            'id':          '2',
            'songName':    'Song Name2',
            'artistName':  'Artist Name2',
            'streamUrl':   'http://bla.com',
            'coverUrl':    'http://vignette1.wikia.nocookie.net/lyricwiki/images/6/67/Metronomy_-_The_English_Riviera.jpg/revision/latest?cb=20110719094709'
        },
        {
            'id':          '3',
            'songName':    'Song Name2',
            'artistName':  'Artist Name2',
            'streamUrl':   'http://bla.com',
            'coverUrl':    'http://vignette1.wikia.nocookie.net/lyricwiki/images/6/67/Metronomy_-_The_English_Riviera.jpg/revision/latest?cb=20110719094709'
        }
    ];

    function popQueue(){
        for(var i in queue){
            var newSong = queue[i];

            $('#rightDiv').append('\
                <div id="'+newSong.id+'" style="opacity:0; margin-left: 30px" class="queueBox">\
                    <img class="queueArt" src="'+newSong.coverUrl+'">\
                    <div class="queueTextCont">\
                        <span class="songName">'+newSong.songName+'</span><br>\
                        <span class="artistName">'+newSong.artistName+'</span>\
                    </div>\
                </div>\
            ');

            $('#'+newSong.id).animate({
                opacity: 1,
                marginLeft: '0'
            },300);
        }
    }

    function addToQueue(d){
        //queue.push(d);
        var newSong = queue[queue.length-1];
        console.log(JSON.stringify(newSong));

        $('#rightDiv').append('\
            <div id="'+newSong.id+'" style="opacity:0; margin-left: 30px" class="queueBox">\
                <img class="queueArt" src="'+newSong.coverUrl+'">\
                <div class="queueTextCont">\
                    <span class="songName">'+newSong.songName+'</span><br>\
                    <span class="artistName">'+newSong.artistName+'</span>\
                </div>\
            </div>\
        ');

        $('#'+newSong.id).animate({
            opacity: 1,
            marginLeft: '0'
        },300);
    }

    function removeFromQueue(id){

    }

    function next(){
        if(queue.length == 0){
            $('#nowPlaying').animate({
                opacity: 0,
                marginLeft: '30px'
            },300);
            setTimeout(function(){
                $('#nowPlaying').html('\
                    <span id="songNameH">Nothing Playing.</span>\
                ');
                setTimeout(function(){
                    $('#nowPlaying').animate({
                        opacity: 1,
                        marginLeft: '0'
                    },300);
                },300);
            },300);

            return false;
        }

        var newSong = queue[0];
        console.log(JSON.stringify(newSong));

        $('#'+newSong.id).animate({
            opacity: 0,
            marginLeft: '30px'
        },300);

        setTimeout(function(){
            $('#nowPlaying').animate({
                opacity: 0,
                marginLeft: '30px'
            },300);
            $('#albumArt').animate({
                opacity: 0
            },300);
            setTimeout(function(){
                $('#nowPlaying').html('\
                    <span id="songNameH">'+newSong.songName+'</span>\
                    <span id="artistNameH">'+newSong.artistName+'</span>\
                ');
                $("#albumArt").attr("src",newSong.coverUrl);
                setTimeout(function(){
                    $('#nowPlaying').animate({
                        opacity: 1,
                        marginLeft: '0'
                    },300);
                    $('#albumArt').animate({
                        opacity: 1
                    },300);
                    $('#'+newSong.id).remove();
                    queue.shift();

                    if(queue.length == 0){
                        $('#rightDiv').append('\
                            <span class="queueErr">Nothing Queued.</span>\
                        ');
                    }
                },300);
            },300);
        },100);
    }
</script>

<div id="topBar">
    
</div>
<div id="cont">
    <div id="albumArtCont">
        <img id="albumArt" src="http://vignette1.wikia.nocookie.net/lyricwiki/images/6/67/Metronomy_-_The_English_Riviera.jpg/revision/latest?cb=20110719094709">
    </div>
    <div id="rightDiv">
        <div id="nowPlaying">
            <span id="songNameH">Nothing Playing.</span>
        </div>
        <span class="queueErr">Nothing Queued.</span>
    </div>
</div>
